body {
    background-color:lightyellow;
}

.headfoot{
    background-color:lightseagreen;
    text-align: center;
    font-family: cursive;
    margin: 5px;
    padding:5px;
    clear:both;
}

.main-nav {
    background-color: rgb(133, 209, 236);
    text-align:center;
    color:rgb(0, 0, 0);
    margin: 5px;
    padding:1px;
}

.sidebar {
    text-align: center;
    background-color:chartreuse;
    float:right;
    width:25%;
    border:2px solid black;
    float:right;

}

.main-nav ul{
    list-style-type: none;
}

.main-nav ul li{
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-nav ul li:hover{
    color:antiquewhite;
}

.main-content{
    float:left;
    background-color:lightskyblue;
    padding:5px;
    margin:2px;
    border:5px solid black;
    width:65%;
}

input[type=text]:focus {
    width: 500px;
}